.tasks-table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.tasks-header-row {
  display: table-row;
  font-weight: bold;
}

.tasks-row {
  display: table-row;
}

.tasks-cell {
  display: table-cell;
  border: 2px solid black;
  padding: 0.75rem;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.task-section-header {
  display: flex;
  justify-content: space-between;
}

.task-section-radios {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.pagination-controls {
  display: flex;
  gap: 1rem;
}

.drop-down {
  width: 7rem;
}
